@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dbc7c7;
  --foreground: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dfdbd8;
    --foreground: #374151;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Tinos';
  src: url('/fonts/Tinos-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



